<?xml version="1.0" encoding="utf-8" ?>
<AppConfiguration>
  <Z>zzzz</Z>
  <test1>asd\${Z}asdf</test1>
  <test2>asd$\${Z}asd</test2>
  <test3>asdf\${${Z}}asd</test3>
  <test4>asd$\${${Z}}asd</test4>
  <test5>asdf$${Z}asdf1</test5>
  <test6>asd\\\${Z}asd</test6>
  <test7>asd\\\${${Z}}asd</test7>
  <test8>asd\\$${Z}asd</test8>
  <test9>asd\\${Z}asd</test9>
  <test10>asd\\\\${Z}asd</test10>
  <test11>${Z}</test11>
  <test12>\${Z}</test12>
  <test13>\\${Z}</test13>
  <test14>\\server\path</test14>
</AppConfiguration>