<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NormalSetting" value="Value1" />
    <add key="Variable" value="VarValue" />
    <add key="Composite" value="${Variable}Comp1" />
    <add key="SuperComposite" value="${Composite}Contains${Variable}" />
  </appSettings>
</configuration>